*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #2b2d42;
  font-family: 'Poppins',sans-serif;
}

a{
  text-decoration: none;
}

.overlay{
  background: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal{
  width: 500px;
  height: 600px;
  background: #2b2d42;
  border-radius: 1rem;
  color: #fff;
  text-align: center;
  padding: 1.5rem;
}

.modal img{
  border-radius: .5rem;
}

@media screen and(max-width: 767px){
  .modal{
    width: 300px;
    height: 400px;
  }
}

